@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.logo {
    font-family: 'ABeeZee', sans-serif;
    font-size: 3.2em;
    font-weight: bold;
    color: #FF5371;
    margin-left: .5em !important;
}

.logo:hover {
    color: #FF5371;
}

.nav-link:hover {
    color: #327cd1 !important;
}

.nav-link {
    color: #666666;
    font-family: 'Poppins';
    letter-spacing: 1px;
    font-weight: bold;
    margin-left: 1em;
}

.header-image {
    height: auto;
    width: auto;
    max-height: 8em;
    max-width: 8em;
    margin-left: 2em !important;
}