@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

.logo {
    font-family: 'ABeeZee', sans-serif;
    margin-left: 1em !important;
    font-size: 2.5em;
    font-weight: bold;
}

.Navbar {
    background-color: blue !important;
}